$slider-width: 1839px;
$slider-height: 849px;
/*$slider-height: 975px;*/
$slider-border-color: #519044;

#slider1_container{
    visibility: hidden; 
    position: relative; 
    margin: 0 auto;
    top: 0px; 
    left: 0px; 
    width: $slider-width; 
    height: $slider-height; 
    border-top: 2px solid $slider-border-color;
    border-bottom: 2px solid $slider-border-color;
    overflow: hidden;
    .box-loading{
        position: absolute;
        top: 0px;
        left: 0px;
        .box-loading-overlay{
            filter: alpha(opacity=70); 
            opacity: 0.7; 
            position: absolute; 
            display: block;
            top: 0px; 
            left: 0px; 
            width: 100%; 
            height: 100%;
        }
        .box-loading-img{
            position: absolute; 
            display: block;
            background: url(../img/loading.gif) no-repeat center center;
            top: 0px; 
            left: 0px; 
            width: 100%; 
            height: 100%;
        }
    }
    .box-slider{
        cursor: move;
        position: absolute; 
        left: 0px; 
        top: 0px; 
        width: $slider-width; 
        height: $slider-height; 
        overflow: hidden;
    }
}

/*
<!--#region Bullet Navigator Skin Begin -->
<!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
*/

/* jssor slider bullet navigator skin 21 css */
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/
.jssorb21 {
    position: absolute;
    bottom: 26px;
    right: 6px;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
    position: absolute;
    /* size of bullet elment */
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    color: white;
    font-size: 12px;
    background: url(../img/b21.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

/*
<!--#region Arrow Navigator Skin Begin -->
<!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
*/

/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l                  (normal)
.jssora21r                  (normal)
.jssora21l:hover            (normal mouseover)
.jssora21r:hover            (normal mouseover)
.jssora21l.jssora21ldn      (mousedown)
.jssora21r.jssora21rdn      (mousedown)
*/
.jssora21l{
    top: 123px; 
    left: 8px;
}
.jssora21r{
    top: 123px;
    right: 8px;
}
.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }

/*----------------------------------------------------------------------------*/

$carousel-width: 809px;
$carousel-height: 150px;

#jssor_1{
    position: relative; 
    margin: 0 auto; 
    top: 0px; 
    left: 0px; 
    width: $carousel-width; 
    height: $carousel-height; 
    overflow: hidden; 
    visibility: hidden;
    .box-loading{
        position: absolute; 
        top: 0px; 
        left: 0px;
        .box-loading-overlay{
            filter: alpha(opacity=70); 
            opacity: 0.7; 
            position: absolute; 
            display: block; 
            top: 0px; 
            left: 0px; 
            width: 100%; 
            height: 100%;
        }
        .box-loading-img{
            position:absolute;
            display:block;
            background:url('../img/loading.gif') no-repeat center center;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
        }
    }
    .box-slider{
        cursor: default; 
        position: relative; 
        top: 0px; 
        left: 0px; 
        width: $carousel-width; 
        height: $carousel-height;
        overflow: hidden;
        .box-item{
            display: none;
        }
    }
    .box-navigator{
        bottom:10px;
        right:10px;
        .box-prototype{
            width:21px;
            height:21px;
        }
    }
    .box-arrowleft, .box-arrowright{
        top:0px;
        left:8px;
        width:55px;
        height:55px;
    }
}


/* jssor slider bullet navigator skin 03 css */
/*
.jssorb03 div           (normal)
.jssorb03 div:hover     (normal mouseover)
.jssorb03 .av           (active)
.jssorb03 .av:hover     (active mouseover)
.jssorb03 .dn           (mousedown)
*/
.jssorb03 {
    position: absolute;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url('../img/b03.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

/* jssor slider arrow navigator skin 03 css */
/*
.jssora03l                  (normal)
.jssora03r                  (normal)
.jssora03l:hover            (normal mouseover)
.jssora03r:hover            (normal mouseover)
.jssora03l.jssora03ldn      (mousedown)
.jssora03r.jssora03rdn      (mousedown)
*/
.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('../img/a03.png') no-repeat;
    overflow: hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03l.jssora03ldn { background-position: -243px -33px; }
.jssora03r.jssora03rdn { background-position: -303px -33px; }