@import "_config";
@import "remove-outline.scss";
@import "jssor.scss";

@import "mf-1-min-320.scss";
@import "mf-2-min-480.scss";
@import "mf-3-min-768.scss";
@import "mf-4-min-992.scss";
@import "mf-5-min-1200.scss";

$nopadding: (left: 0, right: 0, top: 0, bottom: 0);
@each $name, $value in $nopadding{
    .nopadding-#{$name} {
        padding-#{$name}: $value;
    }
    .nomargin-#{$name}{
        margin-#{$name}: $value;
    }
}
.nopadding{
    padding: 0;
}
.nomargin{
    margin: 0;
}
body{
    @include main-font;
    background: $bg-primary;
    color: $color-primary;
}
h1,h2,h3,h4,h5,h6{
    color: $h-color;
    margin-top: 0;
}
p{
    font-size: 1.143em;
}

p{
    img{
        display: block;
        height: auto;
        max-width: 100%;
    }
}

textarea { resize:both; } /* none|horizontal|vertical|both */
textarea.vert { resize:vertical; }
textarea.noResize { resize:none; }
/*constrain the width and height of the textarea element*/
#confinedSpace textarea { resize:vertical; max-height:300px; min-height:200px; }
#confinedSpace textarea.horiz { resize:horizontal; max-width:400px; min-width:200px; }

$h-font-size: (h2: 20.02px);
@each $name, $value in $h-font-size{
    #{$name} {
        font-size: $value;
    }
}

.inline-block{
    display: inline-block;
}

$margins: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem);
@each $name, $value in $margins {
    .margin-top-#{$name} {
        margin-top: $value;
    }

    .margin-bottom-#{$name} {
        margin-bottom: $value;
    }
}

$paddings: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem, xxl: 3rem);
@each $name, $value in $paddings {
    .padding-top-#{$name} {
        padding-top: $value;
    }

    .padding-bottom-#{$name} {
        padding-bottom: $value;
    }

    .padding-left-#{$name} {
        padding-left: $value;
    }

    .padding-right-#{$name} {
        padding-right: $value;
    }

    .padding-lt-rt-#{$name} {
        padding-left: $value;
        padding-right: $value;
    }
}
/*----------------------------------------------------------------------------*/
.hot-top{
    /*background: $hot-top-bg url('../images/bg/grid.png');*/
    background: $hot-top-bg;
    color: $white;
    ul{
        list-style-type: none;
        margin-bottom: 0;
        li{
            vertical-align: middle;
            display: inline-block;
            padding: 5px 20px;
            i{
                vertical-align: middle;
            }
            .hotline{
                @include phone-number(20px, 300);
                vertical-align: middle;
            }
        }
    }
}

#nav{
    &.affix {
        position: fixed;
        top: 0;
        width: 100%;
        z-index:10;
    }
}
.sticky {
    position:fixed;
    top:0;
    z-index: 10;
    width: 100%;
}
.menu-padding{
    padding-top:40px;
}
.header{
    background: $menu-bg;
    #logo{
        /*transform: translate(100%, 0);*/
        #menu-toggle{
            .navbar-toggle{
                border: 1px solid $menu-color;
                &:hover{
                    background-color: $menu-color;
                    .icon-bar{
                        background-color: invert($menu-color);
                    }
                }
                .icon-bar{
                    background-color: $menu-color;
                }
            }
        }
        .navbar-brand{
            padding: 0;
            /*float: none;*/
        }
    }
    nav{
        padding-left: 0;
        padding-right: 0;
        &.navbar-oil{
            margin-bottom: 0;
            background-color: $menu-bg;
            border: none;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            border-radius: 0;
        }
        ul{
            display: inline-block;
            /*float: right;*/
            /*display: block;*/
            float: none;
            margin: 0px 0 0;
            padding: 0;
            list-style-type: none;
            position: relative;
            z-index: 5;
            li.no-hover{
                a{
                    &.navbar-brand{
                        padding: 0px;
                    }
                    &:before{
                        height: 0;
                    }
                }
            }
            li{
                display: inline-block;
                /*position: relative;*/
                line-height: 24px;
                a{
                    @include transition(0.3s);
                    /*background: $menu-bg;*/
                    font-weight: 700;
                    color: $menu-color-normal;
                    font-size: 16px;
                    display: block;
                    padding: 20px 10px;
                    &:before{
                        @include transition(0.3s);
                        background: $menu-color;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 3px;
                        left: 0;
                        position: absolute;
                        right: 0;
                        width: 0;
                    }
                    &:hover{
                        text-decoration: none;
                        color: $menu-color-hover;
                    }
                    &.active:before, &:hover:before{
                        @include transition(0.3s);
                        width: 100%;
                    }
                    &.active{
                        color: $menu-color-active;
                    }
                    &.nav-title{
                        display: block;
                        position: relative;
                        text-transform: uppercase;
                        z-index: 5;
                    }
                    span{
                        text-align: center;
                        display: block;
                    }
                }
            }
        }
    }
}

/*.menu-holder{
    width: 100%;
}*/
.navbar-brand{
    padding: 0;
    height: 65px !important;
    /*float: none;*/
}
ul.top-menu{
    position:relative;
    z-index: 100;
    text-align: center;
    margin: 0 auto;
    li{
        position: relative;
        vertical-align: middle;
        ul{
            @include transition(0.3s);
            background: $white;
            border: medium none;
            box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.15);
            position: absolute;
            opacity: 0;
            visibility: hidden;
            text-align: left;
            min-width: 170px;
            left: 0;
            border: 1px solid #519044;
            &.right{
                right: 0;
                padding: 0;
                h4{
                    margin-bottom: 0;
                    span{
                        font-size: 0.75em;
                        text-transform: capitalize;
                    }
                }
            }
            li{
                float: none;
                width: 100%;
            }
            a{
                text-transform: capitalize;
                white-space: nowrap;
                color: $menu-bg;
                &:before{
                    height: 0;
                }
            }
        }
    }
    li:hover{
        ul{
            opacity: 1;
            visibility: visible;
            &.right{
                h4{
                    margin-bottom: 0;
                }
            }
            a{
                color: $menu-bg;
                padding: 5px 10px;
                line-height: 1.2em;
            }
        }
    }
}

/*------------------- sidebar*/
ul.m-sidebar{
    display: none;
    list-style-type: none;
    padding-left: 0;
    width: 170px;
    li{
        display: block;
        position: relative;
        line-height: 24px;
        a{
            @include transition(0.3s);
            background: $menu-bg;
            font-weight: 700;
            color: $menu-color-normal;
            font-size: 16px;
            display: block;
            padding: 20px 10px;
            &:before{
                @include transition(0.3s);
                background: $menu-color;
                bottom: 0;
                content: "";
                display: block;
                height: 6px;
                left: 0;
                position: absolute;
                right: 0;
                width: 0;
            }
            &:hover{
                text-decoration: none;
                color: $menu-color;
            }
            &.active:before, &:hover:before{
                @include transition(0.3s);
                width: 100%;
            }
            &.active{
                color: $menu-color-active;
            }
            &.nav-title{
                display: block;
                position: relative;
                text-transform: capitalize;
                z-index: 1;
            }
            span{
                text-align: center;
                display: block;
            }
        }
    }
}
.sidr{
    background: $menu-bg;
    box-shadow: none;
}
.sidr ul{
    margin: 0;
}
.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span{
    box-shadow: none;
    line-height: 1.5em;
}
.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active{
    border-top: none;
}
.sidr ul li{
    border-top: none;
}
/*-------------- carousel*/
.carousel-control{
    &.left{
        background-image: none;
    }
    &.right{
        background-image: none;
    }
}

.product{
    margin-top: 30px;
    margin-bottom: 30px;
    a{
        color: $white;
        text-decoration: none;
        article{
            &.item{
                position: relative;
                box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
                .prod-title{
                    bottom: 0;
                    position: absolute;
                    background: rgba(0,0,0,0.75);
                    padding: 6px;
                    text-align: center;
                    width: 100%;
                    h1{
                        font-size: 16px;
                        color: $white;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.information{
    .module-info{
        header{
            @include information-header(#e9e8e8);
            .module-title{
                box-sizing: border-box;
                margin-bottom: 0;
                padding: 10px 30px;
                span{
                    /*font-size: 20.02px;*/
                    line-height: 40.08px;
                    text-transform: uppercase
                }
            }
        }
        .mod-article{
            .item-info{
                background: #ffffff none repeat scroll 0 0;
                border: 1px solid #e9e8e8;
                box-sizing: border-box;
                overflow: hidden;
                padding: 25px 30px;
            }
        }
    }
}

.accordion{
    .accordion-group{
        overflow: hidden;
        .accordion-heading{
            border-bottom: 0 none;
            a{
                text-decoration: none;
            }
            .accordion-toggle{
                background: #ffffff none repeat scroll 0 0;
                border: 1px solid #e9e8e8;
                color: $accordion-normal-color;
                display: block;
                font: 400 16px/15px "Roboto",sans-serif;
                padding: 22px 40px 22px 30px;
                position: relative;
                &.selected{
                    color: $accordion-selected-color;
                    &::before{
                        content: "\f068";
                        color: $accordion-minus-color;
                    }
                    &::after{
                        background: $accordion-selected-color none repeat scroll 0 0;
                    }
                }
                &::before{
                    color: $accordion-selected-color;
                    content: "\f067";
                    font: 25px/25px "FontAwesome";
                    position: absolute;
                    right: 20px;
                    text-align: center;
                    transition: all 0.3s ease 0s;
                    width: 25px;
                }
                &::after{
                    background: transparent none repeat scroll 0 0;
                    content: "";
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transition: all 0.3s ease 0s;
                    width: 5px;
                }
                &::focus, &::hover{
                    color: $accordion-normal-color;
                    text-decoration: none;
                }
                &:hover, &:focus{
                    content: "\f068";
                    color: $accordion-normal-color;
                    text-decoration: none;
                }
                &:hover{
                    color: $accordion-selected-color;
                    &::before{
                        content: "\f068";
                        color: $accordion-minus-color;
                    }
                    &::after{
                        background: $accordion-selected-color none repeat scroll 0 0;
                    }
                }
            }
        }
        .accordion-body{
            &.collapsing{
                background: $accordion-body-bg none repeat scroll 0 0;
                padding: 15px 20px 15px 22px;
            }
            &.collapse{
                overflow: hidden;
                position: relative;
                transition: height 0.35s ease 0s;
                .accordion-inner{
                    background: $accordion-body-bg none repeat scroll 0 0;
                    border-bottom: 1px solid #e9e8e8;
                    border-left: 1px solid #e9e8e8;
                    border-right: 1px solid #e9e8e8;
                    padding: 15px 20px 15px 22px;
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}

#main-bottom{
    background: $main-bottom-bg;
    padding: 20px 0;
}

#bottom{
    background: $bottom-bg;
    padding: 20px 0;
    article{
        .item-content{
            i{
                color: lighten($bottom-bg, 10%);
            }
            h2{
                display: inline-block;
                padding-left: 10px;
                span{
                    color: $white;
                    text-transform: uppercase;
                }
            }
            .item-introtext{
                p{
                    color: $lighten-white;
                    a{
                        color: $lighten-white;
                    }
                }
            }
        }
    }
}

.map{
    position: relative;
    min-height: 350px;
    overflow: hidden;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        pointer-events: none;
    }
}

#footer-wrapper{
    background: $footer-bg;
    .copyright{
        font-size: 0.75em;
        /*text-align: center;*/
        color: $footer-color-link;
        .privacy_link{
            color: $footer-color-link;
            text-decoration: none;
        }
        h5{
            color: $footer-color-link;
        }
        a{
            color: $white;
        }
        .priv{
            text-align: center;
            display: inline-block;
            width: 100%;
            margin: 0 auto;
            span{
                display: inline-block;
            }
            h5{
                display: inline-block;
            }
        }
    }
}

#back-top{
    bottom: 90px;
    visibility: hidden;
    position: fixed;
    right: 20px;
    z-index: 99;
    &.cd-is-visible {
        @include transition(0.3s);
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }
    &.cd-fade-out {
        @include transition(0.3s);
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: 0.5;
    }
    a{
        @include transition(0.3s);
        color: transparentize($black, 0.1);
        &:hover{
            color: #ccc;
        }
    }
}

.login-menu{
    color: $white;
    &:hover{
        color: $white;
    }
}

.prodcut-detail{
    ul.thumb-list-side{
        background: #f3f3f3;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
        list-style-type: none;
        margin: 0;
        padding: 0;
        li:first-child{
            padding-top: 10px;
        }
        li:last-child{
            padding-bottom: 10px;
        }
        li{
            padding: 5px;
            a{
                @include style-1;
                span{
                    padding-left: 10px;
                }
                &:hover{
                    @include style-3;
                }
                &.active{
                    @include style-1;
                    font-weight: bold;
                }
            }
        }
    }
    .thumb-list{
        display: inline-block;
        vertical-align: top;
        ul.touch-list{
            list-style-type: none;
            display: inline-block;
            margin: 0;
            padding: 0;
            li{
                a{
                    display: block;
                }
                margin-top: 5px;
                margin-bottom: 5px;
                border: 1px solid $image-border-color;
                &.selected{
                    border: 1px solid $image-border-color-selected;
                }
            }
        }
    }
    .box-prod-info{
        .new-price{
            color: $new-price-color;
        }
        .text{
            border: 1px solid $image-border-color;
            width: 60px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
        }
        .quan-edit{
            width: 30px;
            height: 30px;
            border: 1px solid $image-border-color;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 0;
            line-height: 2em;
            i{
                color: $image-border-color-selected;
            }
        }
    }
    .image-block{
        border: 1px solid $image-border-color;
        display: inline-block;
        padding: 0;
        margin: 5px;
        width: 100%;
    }
    .prod-name{
        @include style-1;
        border-bottom: 1px solid;
    }
    .prod-detail{
        .prod-attr{
            @include style-3;
            font-size: $font-size-sub-title;
        }
    }
    .prod-img-features{
        a{
            padding: 5px;
            position: relative;
        }
    }
}

.btn-oil{
    border: 2px solid $bottom-bg;
    color: $bottom-bg;
    background: transparent;
    @include border-radius(0);
    @include transition(0.2s);
    outline: 0;
}

.btn-add-cart{
    font-family: FontAwesome;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid $btn-cart-border-color;
    color: $btn-cart-color;
    @include border-radius(0);
    @include transition(0.2s);
    &::before{
        content: "\f07a";
        padding-right: 10px;
    }
    &:hover{
        background: transparent;
        border: 1px solid $image-border-color-selected;
    }
    &.disabled{
        &::before{
            content: "\f110";
        }
        &:hover{
            cursor: default;
        }
    }
    &.added{
        &::before{
            content: "\f00c";
        }
    }
}

.product-all{
    .prod-cat{
        span{
            color: $menu-color;
        }
        border-bottom: 2px solid $image-border-color-selected;
        padding: 15px;
        margin-bottom: 35px;
        font-size: 2em;        
    }
    a{
        @include transition(0.5s);
        .prod-title{
            color: $color-primary;
            text-align: center;
        }
        .prod-title{
            padding-top: 10px;
        }
        p{
            color: $black;
        }
        &:hover{
            /*background: lighten($image-border-color, 50%);*/
            display: block;
            .prod-title{
                color: $style-1-color;
            }
            p{
                color: $black;
            }
        }
    }
}

.top-about-us{
    .module-container{
        header{
            border: 1px solid $border-color;
            .module-title{
                padding: 15px 15px;
                margin: 0;
                span{
                    text-transform: uppercase;
                }
            }
        }
        .module-article{
            background: $white;
            border: 1px solid $border-color;
            padding: 25px 30px;
            box-sizing: border-box;
        }
    }
    .ref-post{
        .module-container{
            background: $menu-bg;
            padding: 40px 20px 40px 30px;
            header{
                border: none;
                .module-title-2{
                    color: $white;
                    margin: 0;
                    span{
                        text-transform: uppercase;
                    }
                }
            }
            .module-article-post{
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li{
                        padding: 5px 0;
                        a{
                            color: $white;
                            display: block;
                            font-size: 1.2em;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.contact-info{
    .contact-info-form{
        /*width: 60%;*/
        margin: 0 auto;
        .form-group{
            /*position: relative;*/
            input[type="text"], textarea{
                @include border-radius(0);
            }
            .error{
                border-color: $error-text-color;
            }
            label{
                display: inherit;
                span{
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    font-size: 1.2em;
                    color: $error-text-color;
                }
            }
            #re_name-error, #re_phone-error{
                span{
                    right: 20px;
                }
            }
            #re_content-error{
                span{
                    top: 55px;
                }
            }
        }
    }
    .all-coms{
        .c-info-title{
            font-weight: bold;
            &:after{
                content: ' : ';
            }
        }
    }
}

.user-fe-form{
    text-align: center;
    input[type="text"], input[type="password"]{
        border: 1px solid $border-color;
        padding: 5px;
    }
    p{
        label{
            font-weight: normal;
        }
    }
    .entry-header{
        .entry-title{
            /*color: $menu-color;*/
            @include style-1;
        }
    }
    .login-holder{
        width: 500px;
        margin: 0 auto;
        padding: 20px;
        background: lighten($main-bottom-bg, 40%);
        box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.15);
    }
}

.news{
    .news-sidebar{
        padding: 5px 0;
        background: #white; 
        /*box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);*/
        .title{
            color: $white;
            background: $hot-top-bg;
            padding: 7px 5px;
            text-transform: capitalize;
        }
        ul{
            margin: 0;
            padding-left: 5px;
            list-style-type: none;
            li{
                .head-news-type{
                    text-transform: capitalize;
                    margin-top: 10px;
                    color: $color-primary;
                    &.active{
                        color: $menu-bg;
                    }
                }
                &:hover{
                    .head-news-type{
                        color: $menu-bg;
                    }
                }
            }
            ul{
                li{
                    margin-bottom: 5px;
                    a{
                        display: block;
                        color: $menu-color;
                        span{
                            text-transform: capitalize;
                            padding-left: 5px;
                        }
                        &:hover{
                            color: $menu-color-active;
                        }
                    }
                }
            }
        }
    }
    article.box{
        a{
            h2{
                padding: 5px;
            }
            &:hover{
                h2{
                    color: $menu-color;
                }
            }
        }
    }
    article.box-row{
        a{
            display: block;
            position: relative;
            color: $color-primary;
            figure{
                display: inline-block;
                min-width: 100px;
            }
            h2{
                padding: 5px;
                margin-bottom: 0;
                display: inline-block;
                vertical-align: middle;
                width: auto;
                position: absolute;
            }
            span.des{
                display: block;
                font-size: 0.75em;
                font-weight: normal;
                padding-top: 5px;
            }
            &:hover{
                h2{
                    color: $menu-bg;
                }
            }
        }
    }
    article.news-detail{
        h2{
            padding-top: 8px;
            padding-bottom: 5px;
            border-bottom: 2px solid $hot-top-bg;
            span{
                text-transform: capitalize;
            }
        }
    }
    h2.tax-title{
        padding-top: 8px;
        padding-bottom: 5px;
        border-bottom: 2px solid $hot-top-bg;
        span{
            text-transform: capitalize;
        }
    }
    .news-most-ref{
        .title{
            padding-top: 10px;
            padding-bottom: 5px;
            border-bottom: 2px solid $hot-top-bg;
            text-transform: capitalize;
        }
        ul{
            margin: 0;
            padding-left: 0px;
            list-style-type: none;
            li{
                @include transition(0.3s);
                background: lighten($hot-top-bg, 10%);
                a{
                    @include transition(0.3s);
                    display: block;
                    color: $white;
                    span.num{
                        background: #ccc;
                        display: inline-block;
                        font-size: 2em;
                        padding: 5px 10px;
                        vertical-align: middle;
                    }
                    span.ref-title{
                        text-transform: capitalize;
                        display: inline-block;
                        padding: 5px 10px;
                        vertical-align: middle;
                        word-break: keep-all;
                        white-space: -moz-pre-wrap; /* Mozilla */
                        white-space: -o-pre-wrap; /* Opera 7 */
                        white-space: pre-wrap;  /* CSS 2.1 */
                        white-space: pre-line; /* CSS 3 */
                        word-wrap: break-word; /* IE */
                        width: 226px;
                        position: absolute;
                    }
                    &:hover{
                        color: $style-1-color;
                    }
                }
                &:hover{
                    background: #ccc;
                }
            }
        }
    }
}

.header-sta-health{
    background: url('../images/header-health.jpg');
    min-height: 300px;
    width: 100%;
    border-top: 2px solid $hot-top-bg;
    border-bottom: 2px solid $hot-top-bg;
    h2{
        margin: 0;
        padding: 0;
        text-align: cetner;
    }
}
.fan-content{
    display: none;
}
.fancybox-nav{
    width: 30%;
}
.health-nutri{
    article{
        border: 1px solid $image-border-color; 
        padding: 10px; 
        text-align: center;
        h2{
            margin: 0;
            padding-top: 10px;
            padding-bottom: 5px;
        }
    }
}
.fancybox-inner{
    h2{
        color: $style-1-color;
    }
}

.pagination{
    > li:first-child{
        > a, > span{
            @include border-radius(0);
        }
    }
    > li:last-child{
        > a, > span{
            @include border-radius(0);
        }
    }
    > li{
        > a, > span{
            background-color: transparent;
            border: 1px solid $image-border-color;
            color: $page-color;
            @include border-radius(0);
        }  
    }
    > li {
        > a:hover, > a:focus, > span:hover, > span:focus{
            background-color: $page-color;
            border: 1px solid $image-border-color;
            color: $white;
        }
    }
    > .active{
        > a, > a:hover, > a:focus, > span, > span:hover, > span:focus{
            background-color: $page-color;
            border: 1px solid $image-border-color;
            color: $white;
        }
    }
}

ul.recent_short{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
        a{
            display: block;
            color: $color-primary;
            @include transition(0.3s);
            figure{
                display: inline-block;
            }
            span.p-title{
                padding: 5px;
                display: inline-block;
                width: 70%;
                position: absolute;
            }
            &:hover{
                color: $menu-bg;
            }
        }
    }
}

.vertical-align {
    display: flex;
    align-items: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.newsletter-form-holder{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    .newsletter-form{
        /*@include vertical-align();*/
        margin-top: 30%;
    }
    input{
        @include border-radius(0);
    }
    .btn{
        @include border-radius(0);
    }
}

/* carousel slider css */
.carousel-inner .active.left  { left: -33%;             }
.carousel-inner .active.right { left: 33%;              }
.carousel-inner .next         { left: 33%               }
.carousel-inner .prev         { left: -33%              }
.carousel-control.left        { background-image: none; }
.carousel-control.right       { background-image: none; }
.carousel-inner .item         { background: transparent;      }

@import "nmf-1-max-1200.scss";
@import "nmf-2-max-992.scss";
@import "nmf-3-max-768.scss";
@import "nmf-4-max-480.scss";
@import "nmf-5-max-320.scss";